<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
</head>
<body>
<p>내 정보를 볼 수 있기도 하고 수정도 할 수 있게 한다. 정보 수정 버튼을 누르면 수정된 정보가 db에 저장된다.</p>
<form th:action="@{/user/update}" method="post">
    <div>
        <label for="userId">아이디(학번):</label>
        <input type="text" id="userId" name="userId" th:value="${session.loggedInUser.userId}" readonly>
    </div>
    <div>
        <label for="username">이름:</label>
        <input type="text" id="username" name="username" th:value="${session.loggedInUser.username}" readonly>
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" th:value="${session.loggedInUser.password}">
    </div>
    <div>
        <label for="department">학과:</label>
        <input type="text" id="department" name="department" th:value="${session.loggedInUser.department}">
    </div>
    <div>
        <label for="phone">전화번호:</label>
        <input type="text" id="phone" name="phone" th:value="${session.loggedInUser.phone}" readonly>
    </div>
    <div>
        <label for="address">도로명 주소:</label>
        <input type="text" id="address" name="address" th:value="${session.loggedInUser.address}">

        <label for="detailsAddress">상세 주소:</label>
        <input type="text" id="detailsAddress" name="detailsAddress" th:value="${session.loggedInUser.detailsAddress}">
    </div>
    <button th:type="submit">정보 수정</button>
</form>
</body>
</html>
