<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
<h2>회원가입</h2>
<form method="post" action="/signup">
  <div>
    <label for="userId">아이디(학번):</label>
    <input type="text" id="userId" name="userId" required>
    <span th:text="${IdError}" style="color: red;"></span>
  </div>
  <div>
    <label for="username">이름:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="department">학과:</label>
    <input type="text" id="department" name="department" required>
  </div>
  <div>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="phone">전화번호:</label>
    <input type="text" id="phone" name="phone" required>
    <span th:text="${PhoneError}" style="color: red;"></span>
  </div>
  <button type="submit">가입</button>
</form>
</body>
</html>